<div style="font-family: Arial, sans-serif; color: #333;">
  <p style="font-size: 16px;">
    Aqui está o seu código para confirmação de E-mail
  </p>

  <div style="text-align: center; margin: 20px 0;">
    <span style="display: inline-block; background-color: #f2f2f2; padding: 15px 30px; font-size: 24px; font-weight: bold; border-radius: 8px; color: #000;">
      {{ otp }}
    </span>
  </div>

  <p style="font-size: 14px; color: #666;">
    Se você não está tentando confirmar nenhum E-mail, ignore isto.
  </p>
</div>
